*{
    font-family: 'Ubuntu', sans-serif;
}
.Main-container{
    width: 100%;
    height: 100%;
}
body{
    margin: 0px;

    background-color: #e0e0e0;
}
#logo{
    margin-left: 1%;
    height: 60px;
    width: 60px;
}
.header-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    z-index: 1;
   
}
header {
    top: 0%;
    /* position: sticky; */
    }

/* footer things */

footer {
    padding: 0.7%;
    bottom: 0%;
    /* position: sticky; */

}

#contact{
    margin-left: 2%;
    /* text-decoration: none;
    color: black; */
 }
#para{
    font-size: 10px;
}

.social-logo{
    height: 20px;
    width: 22px;
}
#footer-logo {
    margin-right: 2%;
}




#login {
     margin-right: 2%;
    color: black;
    
    }
#login-form {
    display: flex;
    flex-direction: column;
}
.login-field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}
#login-button {
    margin: auto;
}