body{
    margin: 0px;
    background-color: #e0e0e0;
}
#logo{
    height: 60px;
    width: 60px;
}
header,footer{
    background-color: rosybrown;
    }
    header {
        top: 0%;
        position: sticky;
        }
    #login {
        float: right;
        margin: 20px;
        text-decoration: none;
        color: black;
        
        }
#hotel-img{
    height: 500px;
    width: 500px;
}
#img{
    margin: 2% 4% 0%;
}
#form{
    margin: 0% 4% 1%;
}
#description{
    margin: 1% 4% 2%;
}
.social-logo{
    height: 20px;
    width: 22px;
}
#footer-logo {
    float:right;
    margin: 10px;
}
footer p {
    text-align: center;
}
#contact{
   margin-left: 1%;
   text-decoration: none;
   color: black;
}
footer {
    bottom: 0%;
    position: sticky;

}