 body{
    margin: 0px;

    background-color: #e0e0e0;
}
#logo{
    margin-left: 1%;
    height: 60px;
    width: 60px;
}
header,footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rosybrown;
   
}
header {
    top: 0%;
    position: sticky;
    }
#login {
     margin-right: 2%;
    text-decoration: none;
    color: black;
    
    }
#searchbar-back{
    background-image:url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchbar-back input {
    border: 1px transparent #f1f1f1;
    width: 400px;
    background-color: #f1f1f1;
    border-radius: 12px;
    padding: 10px;
    font-size: 16px;
}
#searchbar-back input:focus {
    background-color: #f1f1f1;
}
.city-image{
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
}

#city-card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 10%;
   
    
}
.city-card {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.overlay {
    position: absolute;
    background: rg(0, 0, 0);
    background: rgba(0,0,0,0.5);
    bottom: 0;
    top: 0;
    opacity: 0;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    transition: .5s ease;
    color: #f1f1f1;
    text-align: center;
  
}

.city-card:hover .overlay {
   opacity: 1;
}
#view-more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}
#view-more a {
    text-decoration: none;
    color: black;
}
.social-logo{
    height: 20px;
    width: 22px;
}
#footer-logo {
    margin-right: 2%;
}
#contact{
   margin-left: 2%;
   text-decoration: none;
   color: black;
}
footer {
    bottom: 0%;
    position: sticky;

}

