 #index-container{
    display: flex;
    flex-direction: column;
 }

#banner{
    background-image:url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   /* display: flex; */
   width: 100%;
}
#searchbar {
    position: absolute;
    top: 50%;
    left: 36%; 
    right: 36%;
    bottom: 50%;
}

#auto-items {
   
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    border-radius: 12px;
    border-top: none;
    /* z-index: 99; */
    top: 100%;
    visibility: hidden;
    /* left: 0;
    right: 0; */
    width: 100%;
    padding: 10px;
  }

#search-input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 100%;
}

#search-input:focus {
    outline: none;
}
.city-image{
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
}

#city-card-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    /* margin: 5% 10%; */
    padding: 1% 0%;
    /* margin-left: 7%; */
    flex-wrap: wrap;
    flex-direction: row;
   
    
}
#viewMore-city-card-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    /* margin: 5% 10%; */
    padding: 1% 0%;
    /* margin-left: 7%; */
    flex-wrap: wrap;
    flex-direction: row;
   
    
}

.city-card {
    position: relative;
    /* width: 50%; */
    max-width: 300px;
    margin: 3% 5%;
}

.overlay {
    position: absolute;
    /* background: rg(0, 0, 0); */
    background: rgba(0,0,0,0.5);
    bottom: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 25%;
    color: #f1f1f1;
    text-align: center;
  
}

.city-card:hover .overlay {
   opacity: 1;
}
.overlay span {
    position: relative;
    top: 45%;
}
#view-more{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 7%;
}
/* #view-more a {
    text-decoration: none;
    color: black;
} */
   
