
    #pills {
        justify-content: center;
    }
    #container {
        position: relative;
        height: 100%;
        width: 100%;
        margin-top: 6%;
    }
.hotel-decription {
   
    margin: 4% 5% 2% 5%; 
    background-color: lightgrey;
    width: 40%;
    float: left;
    display: flex;
    color: black;
    justify-content: start;
    align-content: center;
    /* margin-bottom: 2%; */
}
.hotel-decription:hover {
    background-color: rosybrown;
}
.about {
   margin: 2%;
}
#list-view {
    display: flex;
   
    justify-content: space-between;
}
    
.hotel-img{
    height: 200px;
    width: 250px;
}
#mapview {
   margin-bottom:10% ;
}
.checked {
    color: orange;
}

