body{
    margin: 0px;
    background-color: #e0e0e0;
}
#logo{
    margin-left: 1%;
    height: 60px;
    width: 60px;
}
header,footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rosybrown;
   
}
header {
    top: 0%;
    position: sticky;
    }
#login {
     margin-right: 2%;
    text-decoration: none;
    color: black;
    
    }
    ul{
        list-style: none;
        margin: 1% 35%;
    }
    
    li {
        display: inline;
    }
    nav a {
        text-decoration: none;
        margin: 20px;
        color: black;
        font-weight: bold;
    }
.hotel-decription{
   
    background-color: lightgrey;
    width: 40%;
     margin: 3%;
     color: black;
    flex-direction: row;
    display: inline-block;
}
.about {
   display: inline-block;
   text-align: center;
}
#list-view {
    display: flex;
   
    justify-content: space-between;
}
    
.hotel-img{
    height: 200px;
    width: 250px;
}
#mapview {
    display: none;
}
.social-logo{
    height: 20px;
    width: 22px;
}
#footer-logo {
    margin-right: 2%;
}
#contact{
   margin-left: 2%;
   text-decoration: none;
   color: black;
}
footer {
    bottom: 0%;
    position: sticky;

}
