body{
    margin: 0px;
    background-color: #e0e0e0;
}
#logo{
    height: 60px;
    width: 60px;
}
header,footer{
    background-color: rosybrown;
    }
    header {
        top: 0%;
        position: sticky;
        }
    #login {
        float: right;
        margin: 20px;
        text-decoration: none;
        color: black;
        
        }
#hotel-img{
    height: 500px;
    width: 500px;
}
#hotel-add{
    background-color: rgb(132, 136, 139);
    width: 50%;
    height: 20%;
    margin: 2% 25%;
}
#booking-detail{
margin: 2%;
}
#pay-detail{
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2%;

}
#paynow {
    margin: 2% auto;
}
#paynow a {
    text-decoration: none;
    color: black;
}
.social-logo{
    height: 20px;
    width: 22px;
}
#footer-logo {
    float:right;
    margin: 10px;
}
footer p {
    text-align: center;
}
#contact{
   margin-left: 1%;
   text-decoration: none;
   color: black;
}
footer {
    bottom: 0%;
    position: sticky;

}