

    /* content start */
#hotel-img{
    max-height: 300px;
    max-width: 270px;
}
#hotel-address{
    background-color: rgb(132, 136, 139);
    display: flex;
    align-items: center;
    width: 50%;
    height: 20%;
    margin: 10% 25% 0%;
}
#address {
    margin: 2%;
}
.booking {
    display: flex;
    align-items: center;
    background-color: rosybrown;
    justify-content: space-between;
    border: 1px solid black;
    max-height: 200px;
   margin: 2% 2% 10%;
   border-radius: 5px;
}
#booking-detail {
    margin-left: 10%;
}
#pay-detail{
    margin-left: 5%;
}
#paynow {
    margin-right: 15%;
}
#paynow a {
    text-decoration: none;
    color: black;
}
#content {
    font-family: cursive;
}

/* content end */

